.recipe-container {
  width: 100%;
  margin: 16px, auto;

  position: absolute;
}

.recipe-card {
  padding: 1rem;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  border-style: solid black;
}

.recipe-img {
  max-height: 30%;
  max-width: 30%;
  display: inline-flex;
  vertical-align: middle;
  padding: 1rem;
  border-radius: 10px;
}
