.search-container {
  margin: 36px auto;
  width: 100%;
}
.search-heading {
  font-size: 30px;
  padding: 16px 16px;
  color: #444;
  width: 50%;
}

.search-label {
  position: relative;
  border-radius: 5px;
}
